{% extends 'base.html.twig' %}

{% block title %}Create New Teacher{% endblock %}

{% block body %}
    {% if app.flashes('error') is defined %}
        <div>
            {% for flash in app.flashes('error') %}    
                {{ flash }}
            {% endfor %}
        </div>
    {% endif %}

    {{ form_start(form) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

